@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    h1 {
        @apply font-bold leading-tight text-gray-900 text-3xl;
    }

    h2 {
        @apply font-bold leading-tight text-gray-900 text-2xl;
    }

    h3 {
        @apply font-bold leading-tight text-gray-900 text-xl;
    }

    header a,
    footer a {
        @apply text-gray-800 py-2 px-6;
    }

    header a.active,
    header a:hover,
    footer a.active,
    footer a:hover {
        @apply bg-[#b54a26] text-white rounded-full;
    }

    header a.active,
    footer a.active {
        @apply bg-[#FCB3A0] text-white rounded-full;
    }

    .profile {
        @apply mt-5;
    }

    .profile img {
        @apply h-36 object-cover m-5;
        width: 150px;
        height: 150px;
        min-width: 9rem;
    }

    .profile h3 {
        @apply font-bold text-xl;
        font-family: 'Karla', Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    }

    .role {
        @apply text-sm text-gray-800;
    }

    .desc {
        @apply mt-3 leading-snug;
    }
}

html {
    min-height: 100%;
    background: #ffecd2;
    /* background: linear-gradient(90deg, #3edc0bf 0, #c4caef 58%); */
    background-image: linear-gradient(to left top, #ffecd2 0%, #fcb69f 99%);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    line-height: 1.5em;
    margin: 0;

}

.font-sans {
    font-family: 'Karla', Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    letter-spacing: .1em;
}

p {
    font-size: 120%;
    margin-top: 1em;
}

container {
    max-width: 900px;
}

.bg-glass-light {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(222, 186, 155, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.bg-glass-dark {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 55, 24, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

header #mdcc-logo {
    width: 400px;
}

#hero-content {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 1em;
}