@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #edc0bf;
    /* background: linear-gradient(90deg, #3edc0bf 0, #c4caef 58%); */
    background-image: linear-gradient(to left top, #ffecd2 0%, #fcb69f 58%);
    padding: 4.5rem;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: .3em;
}